#app {
  width: 826px;
  height: 936px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
}

.box {
  width: 100%;
  height: 100%;
}

/* top left */
#fish-flag {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
#map{
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

/* bottom right */
#bamboo{
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
#quadropus {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}
 
/* left */
#vase-tall {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}
#vase-short {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

